<%- include('partials/header'); -%>
<h1 class="text-center">About page</h1>
<div class="Jumbotron text-center">
    <p class="text-padded"><%=StartAbout%></p>
    <p class="text-padded"><%=SecondAbout%> </p>
</div>
<%- include('partials/footer'); -%>