<%- include('partials/header'); -%>
    <h1 class="text-center">Contact page</h1>
    <div class="card">
        <div class="card-header">
        <h4>Wanna get in touch?</h4>
        </div>
        <div class="card-body">
            <form class="form" method="post">
                <div class="form-group">
                <label>Your Email:</label>
                <input class="form-control" name="email" type="email" placeholder="Your Email here.." required>
                </div>
                <div class="form-group">
                <label>Your Message:</label>
                <textarea row="5" cols="60" name="message" class="form-control" placeholder="Enter your message here.." required></textarea>
                </div>
                <button class="btn btn-outline-dark text-center">Submit Message</button>
            </form>
        </div>
    </div>

<%- include('partials/footer') -%>