<%- include('partials/header'); -%>
<h1 class="text-center">Mordern Blog on everything Technology</h1>
<h4 class="text-center"> <%= main %></h4>

<!-- <%# include('post/posts'); -%> -->

<%- include('partials/footer'); -%>