.container {
    padding: 2%;
}

.container h1 {
    font-family: sans-serif;
    font-size: 2.5em;
}

body {
    font-family: serif;
    font-size: 1em;
}

.footer {
    margin-bottom: 0;
}

.btn {
    margin-top: 2%;
}

.text-padded {
    font-family: serif;
    font-size: 1.5em;
    padding: 5%;
}

.jumbotron {
    background-color: lightskyblue;
}