
    <h1>Add a new Post</h1>
    <form class="form" method="post">
        <div class="form-group">
            <label>Title :</label>
            <input class="form-control" name="title" placeholder="Title for post" required>
        </div>
        <div>
            <label>Content :</label>
            <input class="form-control" name="content" placeholder="Content for your post" required>
        </div>
        <button type="submit" class="btn btn-outline-dark btn-block">Submit Post</button>
    </form>
