<h2 class="text-center"> Blog Posts</h2>
<% if ( posts.length < 1 ) { %>
<p class="text-center"> No Posts in the db.</p>

<% } else { %>
<% posts.forEach( post => { %>
<h3 class="text-center"><%=post.title %></h3>
<p> <%=post.content %></p>
<% }); %>
<% } %>
