<%- include('partials/header'); -%>
        <div>
            <h1 class="text-center">single post Rendered</h1>
            
            <!-- <p class="text-padded"><% %></p> -->
        </div>
        
<%- include('partials/footer'); -%>